@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

body{
  font-family: 'Muli', sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
}


h2 i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}

:focus{outline: none;}

/* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

div {
    position: relative;
}

.col {
    width: 40%;
}

input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px; background: transparent;}

.effect-16 {border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #00477e; transition: 0.4s;}

.effect-16:focus ~ .focus-border, .has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}

.effect-16 ~ label{position: absolute; left: 4px; width: 100%; top: 4px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -15px; font-size: 12px; color: #00477e; transition: 0.3s;}

button {
    padding: 10px;
    border: 1px;
    border-color: black;
    border-radius: 15px;
    width: 50%;
}

button:hover {
    background: #172b39 !important;
}


.link-box {
    display: flex;
    gap: 2vw;
    align-items: center;
    margin-left: auto;
    padding-left: 50px;
}

.link-box a {
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Muli', sans-serif;
    white-space: nowrap;
}

/* Hover effect */
.link-box a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px #333;
}

/* Mobile styles */
@media (max-width: 1240px) {
    .link-box {
        display: none;
    }
    
    #mobileMenu {
        display: block;
    }
}

.h-menu {
    font-size: xx-large;
}

@media (max-width: 390px) {
    .logo {
        width:100vw;
        height:auto!important;
    }
}

main {
    padding-top: 5vh;
}


/* Style the form */
#form {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark invalid fields */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default */
.tab {
    display: none;
}

/* Step indicators */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Active step */
.step.active {
    opacity: 1;
}

/* Finished step */
.step.finish {
    background-color: #04AA6D;
}
