<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitalis AI - Online Diagnosis Application</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900display=swap" rel="stylesheet">
</head>
<body>
    <!-- Top Navigation Menu -->
    <div class="w3-bar w3-highway-blue w3-large">
        <!-- Desktop Links -->
        <div class="col">
            <a href="/"><img class="logo" height="140vh" src="{{ url_for('static', filename='img/vitalis_logo.png') }}" alt="Vitalis Logo"></a>
        </div>
        
        <div class="col link-box w3-hide-small w3-display-middle">
            <a href="#">Senior Assistant</a>
            <a href="#">Women's Health</a>
            <a href="#">Youth & Adolescent Wellbeing</a>
            <a href="#">Mental Health</a>
        </div>
        <!-- Hamburger Icon (shown on small screens) -->
        <div class="col w3-right w3-hide-large w3-top">
            <a href="javascript:void(0);" class="w3-bar-item w3-button w3-right" onclick="toggleMenu()">
                <i class="fa fa-bars h-menu"></i>
            </a>
        </div>
    </div>

    <!-- Mobile Links (Hidden by default) -->
    <div id="mobileMenu" class="w3-bar-block w3-highway-blue w3-hide w3-hide-large">
        <ul>
            <li><a href="#">Senior Assistant</a></li>
            <li><a href="#">Women's Health</a></li>
            <li><a href="#">Youth & Adolescent Wellbeing</a></li>
            <li><a href="#">Mental Health</a></li>
        </ul>
    </div>

    <!-- main -->
    <main class="w3-content">
        <!-- Step Progress Indicator -->
        <form id="form" action="/response" method="POST">      
            <!-- Welcome screen -->
            <div class="form-frame">
                <div class="tab">
                    <h1>Welcome to the Vitalis AI online diagnosis tool.</h1>
                    <h6>This AI tool logs your symptoms and suggests possible diagnoses based on medical data.
                        For serious or complex conditions, please seek specialist care, as the tool's accuracy may vary.</h6>
                </div>
                
                <!-- tab 1 - contextual questions -->
                <div class="tab">
                    <h1>Contextual Questions</h1>
                    <h6>This information allows us to provide a more nuanced response.</h6>
                    <p><input type="number" min="0" max="130" name="age" id="age" placeholder="Age *" required></p>
                    <p>Biological sex:
                        <select name="sex" id="sex" required>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <sup>*</sup>
                    </p>                
                    <p><input type="number" min="0" max="300" name="height" id="height" placeholder="Your height in centimetres (cm) *" required></p>
                    <p><input type="number" min="0" max="600" name="weight" id="weight" placeholder="Your weight in kilograms (kg) *" required></p>
                </div>

                <!-- tab 2 - optional questions -->
                <div class="tab">
                    <h1>Optional Questions</h1>
                    <h6>This information is optional but can be important to providing an accurate diagnosis and advice.</h6>              
                    <p><input name="conditions" id="conditions" placeholder="Known allergies or chronic conditions"></p>
                    <p><input name="occupation" id="occupation" placeholder="Occupation"></p>
                </div>
            
                <!-- tab 3 - Symptoms -->
                <div class="tab">
                    <h1>Symptoms</h1>
                    <p><input name="symptoms" id="symptoms" placeholder="Enter your symptoms separated by commas..." required></p>
                </div>
            </div>
        
            <!-- Navigation Buttons -->
            <div style="overflow: hidden;">
                <div style="float: right; display: flex; gap: 10px;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Start</button>
                    <button type="submit" id="submitBtn">Generate Answer</button>
                    <a id="refreshBtn" onclick="window.location.reload();">Start Again</a> <!-- refresh page (restart form wizard) -->
                </div>
            </div>
            
        
            <!-- Step Indicators -->
            <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </main>
    
    <script>
        let currentTab = 0;
        showTab(currentTab);

        document.getElementById("refreshBtn").style.display = "none"; // hide by default

        function showTab(n) {
            const tabs = document.getElementsByClassName("tab");
            tabs[n].style.display = "block";
            
            // regular pages
            document.getElementById("prevBtn").style.display = (n === tabs.length - 1) ? "none" : (n === 0 ? "none" : "inline"); // shorthand conditional statement - dont display "previous" button if on first or last page
            document.getElementById("nextBtn").innerHTML = (n === 0 ? "Start" : "Next"); // next button will read "start" on first page else "next" on every other page
            
            // pages with exceptions
            if (n === 3) {
                document.getElementById("prevBtn").style.display = "none";
                document.getElementById("nextBtn").style.display = "none";
                document.getElementById("submitBtn").style.display = "inline";
            }
            else if (n === 4) {
                document.getElementById("refreshBtn").style.display = "inline";
                document.getElementById("submitBtn").style.display = "none";
            }
            else {
                document.getElementById("submitBtn").style.display = "none";
            }
            updateStepIndicator(n);
        }

        function nextPrev(n) {
            const tabs = document.getElementsByClassName("tab");
            tabs[currentTab].style.display = "none";
            currentTab += n;
            
            showTab(currentTab);
        }

        // progress indicator logic
        function updateStepIndicator(n) {
            const steps = document.getElementsByClassName("step");
            for (let i = 0; i < steps.length; i++) {
                steps[i].classList.remove("active");
            }
            steps[n].classList.add("active");
        }

        // Toggle mobile menu
        function toggleMenu() {
            document.getElementById("mobileMenu").classList.toggle("w3-show");
        }

    </script>
</body>
</html>
